body
{
    margin: 0;
    text-align: center;
    color: #434344;
    background: #CFD0CF;
    font-family: Arial, sans-serif;
}

main {
    width: 595px;
    margin: 0px auto 0px auto;
}

h1 {
    font-size: 42px;
    margin-top: 40px;
    line-height: 47px;
}

h2 {
    font-size: 48px;
    margin: 30px auto 0px auto;
}

#game {
    width: 595px;
    height: 440px;
    margin: 40px auto 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    perspective: 600px;
}

main footer {
    font-size: 32px;
    margin-top: 30px;
    line-height: 36px;
    font-weight: bold;
}

.overlay {
    width: 100%;
    height: 100%;
    margin: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.popup {
    background: white;
    width: 40%;
    min-width: 350px;
    height: 195px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.popup button {
    height: 40px;
    font-size: 20px;
    color: white;
    background: linear-gradient(45deg, #22AB93 0, #19668D 100%);
    margin: 40px auto 30px auto;
    padding: 0 30px 0 30px;
    box-shadow: 1px 1px 1px #666666;
    border: none;
    border-radius: 9px;
    outline: 0;
}
.popup button:active {
    box-shadow: inset 2px 1px 8px #333333;
}

h2 span {
    position: relative;
    top: 3px;
    display: inline-block;
    animation: jump .48s ease-in-out infinite alternate;
}

h2 span:nth-child(2) {
    animation-delay: .12s;
}

h2 span:nth-child(3) {
    animation-delay: .24s;
}

h2 span:nth-child(4) {
    animation-delay: .36s;
}

@keyframes jump {
    0% {
        top: 3px;
        transform: scale(1, 0.7);
    }
    100%  {
        top: -20px;
        transform: scale(1, 1.3);
    }
}
